<div class='command'>
    <h4>{{ command_string }}</h4>
    <div class='inputs'>
        {{#each structures}}
            <input type="text" value="{{this}}" name="{{ ../id }}_structure_{{@index}}">
        {{else}}
            <input type="text" value="{{command_string}}" name="{{ ../id }}_structure_0">
        {{/each}}
    </div>
    <p><a class='add_command' href='javascript:void(0)'>Add Command...</a> or <a class='remove_command' href='javascript:void(0)'>Remove Command</a></p>
</div>
